*{
    box-sizing: border-box;
}



body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

/* Custom styles for the loading screen */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Side bar / Scroll bar */

body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-track{
    background-color: rgba(3, 3, 3, 0.904);
}
body::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #F8D108;
}


.nav-bar{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    z-index: 1;
}



.nav-bar a img{
    max-width: 10rem;
}


.navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li{

    list-style: none;
 
}
.navbar-links li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size:large;
}

.navbar-links a:hover{
    color: #F8D108;
}

.toggle-button{
    position: absolute ;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    right: 1rem;
    cursor: pointer;
    top: 2rem;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #F8D108;
    border-radius: 10px;
}

@media (max-width: 520px) {
    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%;

    }
    .navbar-links li{
        text-align: center;

    }

    .navbar-links li:hover{
        background-color: #F8D108;
        opacity: 5;
    }
    .navbar-links li a:hover{
        color: black;
    }
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .nav-bar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links.active{
        display: flex;


    }



}

.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh; 
    background-image: url('./images/bg/output-onlinepngtools.png');
    background-repeat: no-repeat;
    background-size: contain;
}

/* .hero-image img{
    height: 100vh;
    opacity: 0.1;
    width: 100%;
} */
/* @media (max-width: 700px) {
    .hero-image img{
        height: 70vh;
    }
} */

.startup {
    font-family: 'Raleway', sans-serif;
    color: #F8D108;
    font-size: 80px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.culture-container {
    font-family: 'Pacifico', sans-serif;
    font-size: 60px;
    display: inline-block;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s , erasing 2s  2s infinite alternate,
    cursor .6s step-end infinite alternate;
    padding-top: 10px;
}
@keyframes cursor {
    50% { border-color: transparent;}
}
 
@keyframes typing {
    from { width: 0; }
}

@keyframes erasing {
    to { width: 0; }
}
.home{
    width: max-content;
    
}
.home h1{
    text-align: center;
}

@media (max-width:500px){
    .home{
        flex-direction: column;
        row-gap: 0;
    }
    .culture-container{
        max-width: 75%;
    }
    .startup {
        font-size: 60px;

    }
    .cursor{
        font-size: 40px;
    }
    .culture-container{
        max-width: 11rem; 
    }

    
}
.hero-content p{
    text-align: center;

}
.about{
    display: flex;
    justify-content: space-evenly;
    
    margin-top: 5%;

}

.in-frame{
    min-width: 18rem;
    min-height: 25rem;
    border: 10px solid #F8D108;
    z-index: 1;
    

}
.out-frame{
    min-width: 18rem;
    min-height: 25rem;
    border: 10px solid rgb(49, 44, 44);
    position: absolute;
    margin: -30px 0px 0px 30px;
    background-image: url('./images/bg/about-us.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
   
    
}
.contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contents h2{
    font-weight: bold;
    font-size: 6em;

}
.bar{
    width: 100px;
    height: 3px;
    background-color: hsl(50, 94%, 50%);
}
.contents ul{
    list-style: none;
    font-size: larger;
}
.contents ul li{
    font-weight: bold;
}
@media (max-width:900px){
    .about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
p{
    font-family: 'Amaranth';
}

.icon-image{
    width: 3%;
    height: 3%;
}

.service{
    width: 100%;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.137);
    margin-top: 10%;
}
.service h2{
    text-align: center;
    font-size: 5.1rem;
}
.card-items{
    background: hsl(50, 94%, 55%);
    width: 23vw;
    height: 40vh;
    border-radius: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s;
}

.card-items:hover{
    transform: scale(1.1);
    cursor: pointer;
    
}
.card-head{
    font-size: 2.7rem;
    margin-bottom: 1.5rem;
    background-color: hsl(100, 0%, 0%);
    color: white;
    border-radius: .6rem;
    padding-left: .6rem;
    text-align: center;
}
.card-cont p{
    font-size: 1.4rem;
    color: black;
}
.card-foot {
    display: flex;
    justify-content: end;
}
.card-foot button{
    background-color: hsl(0,100%, 0%);
    color: white;
    padding: .5rem;
    border-radius: .4rem;
    border: none;
}

.service-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.course-over{
    display: none;
}

.flip-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .flip-card {
    background-color: transparent;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    border-radius: 50%;
  }
  
  .flip-card:focus {
      outline: 0;
  }
  
  .flip-card:hover .flip-card-inner,
  .flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .flip-card-front {
    /* background: linear-gradient();     */
    background-color: #F8D108 ;
    box-shadow: 1px -2px 1px rgb(32, 30, 30);
    
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .flip-card-front img {
    width: 80%;
  }
  
  .flip-card-back {
    background-color: #F8D108 ;
    box-shadow: 1px 3px 1px rgb(32, 30, 30);   
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  h3 {
    font-size: 20px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: #fff;
  }

  
